body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: url(https://cdn.mos.cms.futurecdn.net/ntFmJUZ8tw3ULD3tkBaAtf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
